<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <% if group.icon.attached? %>
      <img src="<%=(url_for(group.icon))%>">
    <% end %>
  </p>

</div>
